$nav-green: #9e8f7d;
$intro-slide-dark-green: #f7ede2;
$intro-slide-light-green: #fbf6f0;
$intro-bright-green: #f7cb6f;
$intro-button-red: #eb843d;
$eatery-greyish-white: #f9f9fa;
$progress-bar-greyish-white: #ebecec;

$see-more-button-blue: #247bbd;